fastapi
uvicorn
pillow
pydentic
pydantic-settings
celery
python-multipart

# The following packages are installed in Dockerfile, 
# they require an additinal arguaments for correct work.

# torch
# torchvision