.dropzone {
  border: 2px dashed #999;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  margin-bottom: 1rem;
  background-color: #2f2f2f;
}

.dropzone-active {
  background-color: #3a3a3a;
}

@media (prefers-color-scheme: light) {
  .dropzone {
    background-color: #f0f0f0;
  }

  .dropzone-active {
    background-color: #e4e4e4;
  }
}

.dropzone-file-info {
  color: #3ee593;
}
.dropzone-error-message {
  color: #ff4e4e;
}
